@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

#game__grid {
	width: var(--gameSize);
	height: var(--gameSize);
	margin: auto 0;
	background-color: lightblue;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;
	align-items: center;
	gap: 1rem;
	padding: 1rem;
	border-radius: var(--rounding);
}

#game__grid div {
	background-color: red;
}